<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SEMP.Data.Properties.Settings.ffdbConnectionString"
            connectionString="Data Source=BUEAMRDEV03;Initial Catalog=ffdb;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
        <add name="SEMP.Data.Properties.Settings.ModSeguridadConnectionString"
            connectionString="Data Source=BUEAMRDEV03;Initial Catalog=ModSeguridad;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SEMP.Data.Properties.Settings.MuestrasMedicas_Entrega_CLConnectionString"
            connectionString="Data Source=bueamrdev03.amer.pfizer.com;Initial Catalog=MuestrasMedicas_Entrega_CL;User ID=bue-a-mmpersonal;Password=Bue-a-mmpersonal"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>